*{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #10214C;
  color: white;
}
header{
  display: flex !important;  
}
h1{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
p{
  margin-bottom: 0!important;
}
form{
  color: white;
}

#ingreso{
  float: left;
  margin-left: 300px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

#respuesta{
  float: right;
  margin-right: 300px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.boton{
  margin-top: 200px;
  border-radius: 10px;
  border: 2px solid #222222;
  box-shadow: 5px 10px #222222;
  background-color: #F68F26;
  height: 100px;
  width: 100px;
}

.btn{
  color: #ffffff !important;
  margin-top: 50px;
  border-radius: 10px !important;
  border: 2px solid #222222 !important;
  box-shadow: 5px 10px #222222;
  background-color: #F68F26 !important;
  height: 100px;
  width: 100px;
}








 

